<script>
console.log(`
                           __
                         .'  '.
                     _.-'/  |  \\
        ,        _.-"  ,|  /  0 '-.
        |\\    .-"       '--""-.__.'=====================-,
        \\ '-''        .___.--._)=========================|
         \\            .'      |     Gerardo Arceo        |
          |     /,_.-'        |                          |
        _/   _.'(             |                          |
       /  ,-' \\  \\            |                          |
       \\  \\    '-'            |                          |
        '-'                   '--------------------------'
`);
</script>

<div id="brand-navigation">

    <div class="container">

    </div>

</div>

