        <footer id="ts-footer">
            <section id="ts-footer-main">
                <div class="container">

                    <div class="ts-title">
                        <h2>Liberato Software</h2>
                    </div>

                    <div class="row">

                        <div class="col-md-5">
                            <p>
                                Somos una empresa de software que crea soluciones a problemas reales contemporáneos, creémos en el poder de la tecnología y queremos que todo el mundo pueda beneficiarse de ella.
                            </p>
                            <a href="home" class="ts-link ts-underline mb-5 mb-md-0 d-inline-block">Más Información</a>
                        </div>

                        <div class="col-sm-6 col-md-4">
                            <address class="ts-text-muted---white">
                            México
                            <br>
                            CDMX
                            <br>
                            <br>
                            <nav class="nav flex-column">
                                <a class="nav-link" href="contact">CONTACTO</a>
                            </nav>
                            <br>
                        </address>
                        </div>

                        <div class="col-sm-6 col-md-3">
                            <nav class="nav flex-column">
                                <a class="nav-link" href="development">Desarrollo</a>
                                <a class="nav-link" href="team">Información</a>
                                <a class="nav-link" href="blog">Blog</a>
                            </nav>
                        </div>

                    </div>
                </div>
            </section>

            <section>
                <div class="container py-5">
                    <small>© {{ getYear }} Todos los derechos reservados</small>
                </div>
            </section>

        </footer>

        </div>
    </div>

    <script src="assets/js/jquery-3.3.1.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="assets/js/isInViewport.jquery.js"></script>
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/scrolla.jquery.min.js"></script>
    <script src="assets/js/jquery.validate.min.js"></script>
    <script src="assets/js/jquery-validate.bootstrap-tooltip.min.js"></script>
    <script src="assets/js/odometer.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/particles.min.js"></script>
    <script src="assets/js/jquery.vide.min.js"></script>
    <script src="assets/js/custom.js"></script>
</body>
</html>