<div id="main-navigation">
    <nav class="navbar navbar-{{s theme 'dark'}}">
        <ul class="navbar-nav">

            <li class="nav-item">
                <a class="nav-link" href="gerardoarceo#about">Información</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="gerardoarceo#experience">Experiencia</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="gerardoarceo#knowledge">Conocimientos</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="gerardoarceo#achivements">Logros</a>
            </li>

        </ul>
    </nav>
</div>