{{> head }}

<header id="ts-hero" class="ts-block">

    <div class="container pt-2 pt-sm-5 pt-lg-0">
        <div class="ts-title mb-0">
            <h1>Blog</h1>
        </div>
    </div>

</header>

<section id="blockquote" class="ts-block text-center ts-background-repeat" data-bg-image="assets/img/bg__pattern--topo.png">
    <div class="container">

        <blockquote class="blockquote">
            <h2>Próximamente...</h2>
            <footer class="blockquote-footer">Gracias por existir</footer>
        </blockquote>

    </div>
</section>

{{> footer }}