{{> head }}

<header id="ts-hero" class="ts-height--100vh ts-has-overlay text-white">

    <div class="container">

        <h1 data-animate="ts-reveal">
            <span class="wrapper">
                <span>Gerardo</span>
            </span>
            <span class="wrapper">
                <span data-ts-delay=".1s">Arceo</span>
            </span>
        </h1>

        <div data-animate="ts-fadeInUp" data-ts-delay=".15s">
            <h5 class="ts-opacity__60 mb-5">Full Stack Software Developer</h5>
        </div>


        <div data-animate="ts-fadeInUp" data-ts-delay=".2s">
            <a href="docs/gerardoarceo.pdf" download="CV Gerardo Arceo" class="btn btn-outline-light btn-sm">Descargar CV</a>
        </div>

    </div>

    <div class="ts-background" data-bg-parallax="scroll" data-bg-parallax-speed="3">
        <div id="ts-particles" class="ts-background-image ts-parallax-element ts-z-index__1"></div>
        <div class="ts-img-into-bg ts-background-image ts-parallax-element">
            <img src="assets/img/bg__gerardoarceo.jpg" alt="">
        </div>
    </div>

</header>

<!--MAIN CONTENT
================================================================================================================
================================================================================================================
-->
<main id="ts-content">


    <!--Skills
    ============================================================================================================
    -->
    <section id="my-skills" class="ts-block">
        <div class="container">

            <div class="ts-title">
                <h2>Sobre mi</h2>
            </div>

            <div class="row">

                <div class="col-md-6 mb-4">
                    <p>
                        Soy un profesional pragmático, me gusta involucrarme en proyectos de alto impacto y aportar mi ingenio para maximizar los resultados.</p>
                    <p>
                        Me considero una persona entusiasta, asertiva y creativa, en mi tiempo libre experimento con nuevas tecnologías y desarrollo proyectos altruistas.
                    </p>
                    <a href="#" class="ts-link">
                        <i class="fab fa-whatsapp"></i>   55-71-77-79-17
                    </a>
                    <br>
                    <a href="https://github.com/GerardoArceo" class="ts-link">
                        <i class="fab fa-github"></i>   GerardoArceo
                    </a>
                    <br>
                    <a href="linkedin.com/in/gerardo-arceo-223a2717a/" class="ts-link">
                        <i class="fab fa-linkedin"></i>   Gerardo Arceo
                    </a>
                </div>
                <!--end Paragraph-->

                <div class="col-md-6">

                    <div class="progress" data-progress-width="100%">
                        <h5 class="ts-progress-title">Gestión de proyectos</h5>
                        <figure class="ts-progress-value"></figure>
                        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>

                    <div class="progress" data-progress-width="98%">
                        <h5 class="ts-progress-title">Desarrollo Web</h5>
                        <figure class="ts-progress-value"></figure>
                        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>

                    <div class="progress" data-progress-width="95%">
                        <h5 class="ts-progress-title">Desarrollo Móvil</h5>
                        <figure class="ts-progress-value"></figure>
                        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>

                    <div class="progress" data-progress-width="90%">
                        <h5 class="ts-progress-title">Cloud Computing</h5>
                        <figure class="ts-progress-value"></figure>
                        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>

                </div>
            </div>
            <!--end .row-->
        </div>
        <!--end .container-->

        <div class="ts-background">
            <div class="ts-img-into-bg ts-background-repeat">
                <img src="assets/img/bg__pattern--dot.png" alt="">
            </div>
        </div>
    </section>

    <section id="partners" class="py-3">
        <div class="container py-5">
            <div class="d-block d-md-flex justify-content-around align-items-center text-center ts-partners">

                <a href="https://www.cecyt9.ipn.mx/">Técnico en programación<br>
                    <img src="assets/img/logo_cecyt9.png" alt="">
                </a>
                <a href="https://www.escom.ipn.mx">Ing. en Sistemas Computacionales<br>
                    <img src="assets/img/logo_escom.png" alt="">
                </a>
                <a href="https://www.ets.org/es/toefl">Inglés profesional<br>
                    <img src="assets/img/logo_toefl.png" alt="">
                </a>

            </div>
        </div>
    </section>

    <section class="ts-block">
        <div class="container">

            <div class="ts-title text-center">
                <h2>Experiencia</h2>
            </div>

            <div class="row">

                <div class="col-md-6 mb-5">
                    <img src="assets/img/img__gera.jpg" class="w-100" alt="">
                </div>

                <div class="col-md-6">
                    <ul class="list list-text list-dashed">

                        <li data-animate="ts-fadeInRight">
                            <h5 class="opacity-30"><strong>2016 - 2017</strong></h5>
                            <h4>Freelance</h4>
                            <p>
                                Desarrollo de proyectos de software a medida
                            </p>
                        </li>

                        <li data-animate="ts-fadeInRight" data-ts-delay=".1s">
                            <h5 class="opacity-30"><strong>2017 - Actualidad</strong></h5>
                            <h4>Liberato Software</h4>
                            <ul>
                                <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".1s">
                                    <p>Administración de proyectos</p>
                                </li>
                                <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".2s">
                                    <p>Marketing, diseño y publicidad</p>
                                </li>
                                <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".3s">
                                    <p>Seguridad y soporte de sistemas</p>
                                </li>
                                <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".4s">
                                    <p>Venta, contacto y manejo de clientes</p>
                                </li>
                                <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".5s">
                                    <p>Desarrollo de arquitecturas de software</p>
                                </li>
                                <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay="0.6s">
                                    <p>Mantenimiento y configuración de servidores</p>
                                </li>
                                <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay="0.7s">
                                    <p>Diseño, análisis, pruebas y validación de software</p>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </section>

    <section id="features" class="ts-block text-white text-center text-sm-left">
        <div class="container">
            <div class="row">

                <div class="col-md-3">
                    <div class="ts-feature">
                        <img src="assets/img/icon__code.png" alt="" class="mb-5">
                        <h4>Lenguajes</h4>
                        <ul>
                            <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".1s">
                                C
                            </li>
                            <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".2s">
                                C#
                            </li>
                            <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".3s">
                                Go
                            </li>
                            <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".4s">
                                PHP
                            </li>
                            <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".5s">
                                Dart
                            </li>
                            <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".6s">
                                Java
                            </li>
                            <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".7s">
                                Rust
                            </li>
                            <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".8s">
                                Python
                            </li>
                            <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".9s">
                                JS & TS
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="ts-feature">
                        <img src="assets/img/icon__data.png" alt="" class="mb-5">
                        <h4>Manejo de datos</h4>
                        <ul>
                            <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".1s">
                                Redis
                            </li>
                            <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".2s">
                                Entity
                            </li>
                            <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".3s">
                                Redux
                            </li>
                            <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".4s">
                                SQLite
                            </li>
                            <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".5s">
                                MySQL
                            </li>
                            <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".6s">
                                Firebase
                            </li>
                            <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".7s">
                                GraphQL
                            </li>
                            <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".8s">
                                MongoDB
                            </li>
                            <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".9s">
                                PostgreSQL
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="ts-feature">
                        <img src="assets/img/icon__web.png" alt="" class="mb-5">
                        <h4>Tecnologías web</h4>
                        <ul>
                            <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".1s">
                                PWA
                            </li>
                            <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".2s">
                                React
                            </li>
                            <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".3s">
                                Blazor
                            </li>
                            <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".4s">
                                Spring
                            </li>
                            <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".5s">
                                Django
                            </li>
                            <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".6s">
                                WebXR
                            </li>
                            <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".7s">
                                Angular
                            </li>
                            <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".8s">
                                Socket.IO
                            </li>
                            <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".9s">
                                Express.js
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="ts-feature">
                        <img src="assets/img/icon__cloud.png" alt="" class="mb-5">
                        <h4>Desarrollo</h4>
                        <ul>
                            <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".1s">
                                Ionic
                            </li>
                            <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".2s">
                                Flutter
                            </li>
                            <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".3s">
                                Eureka
                            </li>
                            <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".4s">
                                Docker
                            </li>
                            <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".5s">
                                Node.js
                            </li>
                            <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".6s">
                                Git(Hub)
                            </li>
                            <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".7s">
                                .NET Core
                            </li>
                            <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".8s">
                                ReactiveX
                            </li>
                            <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".9s">
                                Blockchain
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

        <div class="ts-background ts-bg-black">
            <div class="ts-background-image ts-background-repeat ts-opacity__10 ts-img-into-bg">
                <img src="assets/img/bg__pattern--topo-white.png" alt="">
            </div>
        </div>
    </section>

    <section class="ts-block text-center ts-background-repeat" data-bg-image="assets/img/bg__pattern--topo.png">
        <div class="container">
            <h2>Otros Sectores de Conocimiento</h2>
            <div class="row">
                <div class="col-md-4">
                    <p>Seguridad informática</p>
                </div>
                <div class="col-md-4">
                    <p>Ingeniería de software</p>
                </div>
                <div class="col-md-4">
                    <p>Inteligencia artificial</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <p>Marketing digital</p>
                </div>
                <div class="col-md-4">
                    <p>IoT y redes</p>
                </div>
                <div class="col-md-4">
                    <p>Finanzas bursátiles</p>
                </div>
            </div>

        </div>
    </section>

    <section id="features" class="ts-block ts-bg-black text-white">
        <div class="container">
            <div class="row">

                <div class="col-md-4">
                    <div class="ts-title">
                        <h2>Logros</h2>
                    </div>
                </div>

                <div class="col-md-8">
                    <ul class="list list-text list-dashed">

                        <li data-animate="ts-fadeInRight">
                            <h4>ExpoESCOM</h4>
                            <p>
                                Ganador de la ExpoESCOM en el área de Ciencias de la Computación
                            </p>
                        </li>
                        <!--end Experience block-->

                        <li data-animate="ts-fadeInRight" data-ts-delay=".1s">
                            <h4>Talentum</h4>
                            <p>
                                Participante del programa Talentum del CIDE para estudiantes de alto desempeño
                            </p>
                        </li>
                        <!--end Experience block-->

                        <li data-animate="ts-fadeInRight" data-ts-delay=".2s">
                            <h4>ExpoBátiz</h4>
                            <p>
                                Ganador de la ExpoBátiz por mejor software
                            </p>
                        </li>
                        <!--end Experience block-->

                    </ul>
                </div>

            </div>
        </div>

    </section>

</main>


{{> footer }}