{{> head }}

<header id="ts-hero" class="ts-height--100vh ts-has-overlay text-white">

    <div class="container">

        <h1 data-animate="ts-reveal">
            <span class="wrapper">
                <span>Gerardo</span>
            </span>
            <span class="wrapper">
                <span data-ts-delay=".1s">Arceo</span>
            </span>
        </h1>

        <div data-animate="ts-fadeInUp" data-ts-delay=".15s">
            <h5 class="ts-opacity__60 mb-5">Full Stack Software Developer</h5>
        </div>


        <div data-animate="ts-fadeInUp" data-ts-delay=".2s">
            <a href="team/gerardoarceo/cv.pdf" download="CV Gerardo Arceo" class="btn btn-outline-light btn-sm">Descargar CV</a>
        </div>

    </div>

    <div class="ts-background" data-bg-parallax="scroll" data-bg-parallax-speed="3">
        <div id="ts-particles" class="ts-background-image ts-parallax-element ts-z-index__1"></div>
        <div class="ts-img-into-bg ts-background-image ts-parallax-element">
            <img src="team/gerardoarceo/background.jpg" alt="">
        </div>
    </div>

</header>

<main id="ts-content">

    <section id="my-skills" class="ts-block">
        <div class="container">

            <div class="ts-title">
                <h2>Sobre mi</h2>
            </div>

            <div class="row">

                <div class="col-md-6 mb-4">
                    <p class="text-justify" style="margin-right: 4%">
                        Soy un profesional pragmático y creativo, me entusiasma involucrarme en proyectos desafiantes y de alto impacto social.
                    </p>
                    <p class="text-justify" style="margin-right: 4%">
                        Adoro el mundo del software, en mi tiempo libre experimento con nuevas tecnologías y desarrollo proyectos altruistas.
                    </p>
                    <a href="tel:5571777917" class="ts-link">
                        <i class="fab fa-whatsapp"></i>   55-71-77-79-17
                    </a>
                    <br>
                    <a href="https://linkedin.com/in/gerardo-arceo-223a2717a/" class="ts-link">
                        <i class="fab fa-linkedin"></i>   Perfil en LinkedIn
                    </a>
                    <br>
                    <a href="https://github.com/GerardoArceo" class="ts-link">
                        <i class="fab fa-github"></i>   Repositorio en GitHub
                    </a>
                    <br>
                    <a href="mailto:mr.gerardo.arceo@gmail.com" class="ts-link">
                        <i class="far fa-envelope"></i>   mr.gerardo.arceo@gmail.com
                    </a>
                </div>

                <div class="col-md-6">

                    <div class="progress" data-progress-width="100%">
                        <h5 class="ts-progress-title">Gestión de Proyectos</h5>
                        <figure class="ts-progress-value"></figure>
                        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>

                    <div class="progress" data-progress-width="97%">
                        <h5 class="ts-progress-title">Cloud Computing</h5>
                        <figure class="ts-progress-value"></figure>
                        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>

                    <div class="progress" data-progress-width="95%">
                        <h5 class="ts-progress-title">Desarrollo Web</h5>
                        <figure class="ts-progress-value"></figure>
                        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>

                    <div class="progress" data-progress-width="90%">
                        <h5 class="ts-progress-title">Desarrollo Móvil</h5>
                        <figure class="ts-progress-value"></figure>
                        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>

                </div>
            </div>
        </div>

        <div class="ts-background">
            <div class="ts-img-into-bg ts-background-repeat">
                <img src="assets/img/bg__pattern--dot.png" alt="">
            </div>
        </div>
    </section>

    <section id="partners" class="py-3">
        <div class="container py-5">
            <div class="d-block d-md-flex justify-content-around align-items-center text-center ts-partners">

                <a href="https://www.cecyt9.ipn.mx/">Técnico en programación<br>
                    <img src="assets/img/logo_cecyt9.png" alt="">
                </a>
                <a href="https://www.escom.ipn.mx">Ing. en Sistemas Computacionales<br>
                    <img src="assets/img/logo_escom.png" alt="">
                </a>
                <a href="https://www.ets.org/es/toefl">Inglés profesional<br>
                    <img src="assets/img/logo_toefl.png" alt="">
                </a>

            </div>
        </div>
    </section>

    <section class="ts-block">
        <div class="container">

            <div class="ts-title text-center">
                <h2>Experiencia</h2>
            </div>

            <div class="row">

                <div class="col-md-6 mb-5">
                    <img src="team/gerardoarceo/photo.jpg" class="w-100" alt="">
                </div>

                <div class="col-md-6">
                    <ul class="list list-text list-dashed">

                        <li data-animate="ts-fadeInRight">
                            <h5 class="opacity-30"><strong>2017 - 2018</strong></h5>
                            <h4>Freelance</h4>
                            <p>
                                Desarrollo de proyectos de software a medida
                            </p>
                        </li>

                        <li data-animate="ts-fadeInRight" data-ts-delay=".1s">
                            <h5 class="opacity-30"><strong>JUN. 2018 - MAY. 2020</strong></h5>
                            <h4>Liberato Software</h4>
                            <ul>
                                <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".1s">
                                    <p>Gestión de proyectos</p>
                                </li>
                                <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".2s">
                                    <p>Seguridad y soporte de sistemas</p>
                                </li>
                                <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".3s">
                                    <p>Desarrollo de arquitecturas de software</p>
                                </li>
                                <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".4s">
                                    <p>Mantenimiento y configuración de servidores</p>
                                </li>
                            </ul>
                        </li>

                        <li data-animate="ts-fadeInRight" data-ts-delay=".5s">
                            <h5 class="opacity-30"><strong>MAY. 2020 - OCT. 2020</strong></h5>
                            <h4>Teamknowlogy</h4>
                            <ul>
                                <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".6s">
                                    <p>Análisis y diseño de módulos.</p>
                                </li>
                                <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".7s">
                                    <p>Optimización y programación de servicios</p>
                                </li>
                                <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".8s">
                                    <p>Integración y despliegue de componentes</p>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </section>

    <section id="features" class="ts-block text-white text-center text-sm-left">
        <div class="container">
            <div class="row">

                <div class="col-md-3">
                    <div class="ts-feature">
                        <img src="assets/img/icon__code.png" alt="" class="mb-5">
                        <h4>Lenguajes</h4>
                        <ul>
                            <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".2s">
                                Go
                            </li>
                            <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".3s">
                                Dart
                            </li>
                            <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".4s">
                                Java
                            </li>
                            <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".5s">
                                Python
                            </li>
                            <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".6s">
                                JS & TS
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="ts-feature">
                        <img src="assets/img/icon__data.png" alt="" class="mb-5">
                        <h4>Manejo de datos</h4>
                        <ul>
                            <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".1s">
                                Redis
                            </li>
                            <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".3s">
                                MySQL
                            </li>
                            <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".4s">
                                GraphQL
                            </li>
                            <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".5s">
                                MongoDB
                            </li>
                            <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".6s">
                                PostgreSQL
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="ts-feature">
                        <img src="assets/img/icon__web.png" alt="" class="mb-5">
                        <h4>Tecnologías web</h4>
                        <ul>
                            <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".1s">
                                React
                            </li>
                            <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".3s">
                                Apollo
                            </li>
                            <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".4s">
                                Express
                            </li>
                            <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".5s">
                                Node.js
                            </li>
                            <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".6s">
                                Angular
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="ts-feature">
                        <img src="assets/img/icon__cloud.png" alt="" class="mb-5">
                        <h4>Desarrollo</h4>
                        <ul>
                            <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".2s">
                                Redux
                            </li>
                            <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".3s">
                                Flutter
                            </li>
                            <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".4s">
                                Docker
                            </li>
                            <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".5s">
                                Git(Hub)
                            </li>
                            <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".6s">
                                Firebase
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

        <div class="ts-background ts-bg-black">
            <div class="ts-background-image ts-background-repeat ts-opacity__10 ts-img-into-bg">
                <img src="assets/img/bg__pattern--topo-white.png" alt="">
            </div>
        </div>
    </section>

    <section class="ts-block text-center ts-background-repeat" data-bg-image="assets/img/bg__pattern--topo.png">
        <div class="container">
            <h2>Otros Sectores de Conocimiento</h2>
            <div class="row">
                <div class="col-md-6">
                    <h5>Seguridad informática</h5>
                </div>
                <div class="col-md-6">
                    <h5>Inteligencia artificial</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h5>Marketing digital</h5>
                </div>
                <div class="col-md-6">
                    <h5>Finanzas bursátiles</h5>
                </div>
            </div>
        </div>
    </section>

    <section id="features" class="ts-block ts-bg-black text-white">
        <div class="container">
            <div class="row">

                <div class="col-md-4">
                    <div class="ts-title">
                        <h2>Logros</h2>
                    </div>
                </div>

                <div class="col-md-8">
                    <ul class="list list-text list-dashed">

                        <li data-animate="ts-fadeInRight">
                            <h4>Cloud Computing Certification</h4>
                            <p>
                                Certificación de Cloud Computing por Google
                            </p>
                        </li>

                        <li data-animate="ts-fadeInRight">
                            <h4>ExpoESCOM</h4>
                            <p>
                                Ganador de la ExpoESCOM en el área de Ciencias de la Computación
                            </p>
                        </li>

                        <li data-animate="ts-fadeInRight" data-ts-delay=".1s">
                            <h4>Talentum</h4>
                            <p>
                                Miembro del programa Talentum del CIDE
                            </p>
                        </li>

                        <li data-animate="ts-fadeInRight" data-ts-delay=".2s">
                            <h4>ExpoBátiz</h4>
                            <p>
                                Ganador de la ExpoBátiz por mejor software
                            </p>
                        </li>

                    </ul>
                </div>

            </div>
        </div>

    </section>

</main>

{{> footer }}