{{> head }}

<header id="ts-hero" class="ts-height--100vh ts-has-overlay text-white">

    <div class="container">

        <h1 data-animate="ts-reveal">
            <span class="wrapper">
                <span>Lilián</span>
            </span>
            <span class="wrapper">
                <span data-ts-delay=".1s">Arceo</span>
            </span>
        </h1>

        <div data-animate="ts-fadeInUp" data-ts-delay=".15s">
            <h5 class="ts-opacity__60 mb-5">Bionic Engineer</h5>
        </div>


        <div data-animate="ts-fadeInUp" data-ts-delay=".2s">
            <a href="team/lilianarceo/cv.pdf" download="CV Gerardo Arceo" class="btn btn-outline-light btn-sm">Descargar CV</a>
        </div>

    </div>

    <div class="ts-background" data-bg-parallax="scroll" data-bg-parallax-speed="3">
        <div id="ts-particles" class="ts-background-image ts-parallax-element ts-z-index__1"></div>
        <div class="ts-img-into-bg ts-background-image ts-parallax-element">
            <img src="team/lilianarceo/background.jpg" alt="">
        </div>
    </div>

</header>

<!--MAIN CONTENT
================================================================================================================
================================================================================================================
-->
<main id="ts-content">


    <!--Skills
    ============================================================================================================
    -->
    <section id="my-skills" class="ts-block">
        <div class="container">

            <div class="ts-title">
                <h2>Sobre mi</h2>
            </div>

            <div class="row">

                <div class="col-md-6 mb-4">
                    <p>
                        Soy una profesional responsable y dedicada al conocimiento, me especializo en aplicaciones electrónicas, esto incluye la integración de hardware y software, en conjunto con el manejo y la obtención de señales biológicas y la creación de proyectos bio-inspirados.
                    </p>
                    <a href="#" class="ts-link">
                        <i class="fab fa-whatsapp"></i>   55-26-58-17-57
                    </a>
                </div>
                <!--end Paragraph-->

                <div class="col-md-6">

                    <div class="progress" data-progress-width="100%">
                        <h5 class="ts-progress-title">Electrónica</h5>
                        <figure class="ts-progress-value"></figure>
                        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>

                    <div class="progress" data-progress-width="98%">
                        <h5 class="ts-progress-title">Biología</h5>
                        <figure class="ts-progress-value"></figure>
                        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>

                    <div class="progress" data-progress-width="95%">
                        <h5 class="ts-progress-title">Inteligencia Artificial</h5>
                        <figure class="ts-progress-value"></figure>
                        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>

                </div>
            </div>
            <!--end .row-->
        </div>
        <!--end .container-->

        <div class="ts-background">
            <div class="ts-img-into-bg ts-background-repeat">
                <img src="assets/img/bg__pattern--dot.png" alt="">
            </div>
        </div>
    </section>

    <section id="partners" class="py-3">
        <div class="container py-5">
            <div class="d-block d-md-flex justify-content-around align-items-center text-center ts-partners">

                <a href="https://www.cecyt9.ipn.mx/">Técnico en Sistemas Digitales<br>
                    <img src="assets/img/logo_cecyt9.png" alt="">
                </a>
                <a href="https://www.escom.ipn.mx">Ingeniería Biónica<br>
                    <img src="assets/img/logo_upiita.png" alt="">
                </a>
                <a href="https://www.ets.org/es/toefl">Inglés profesional<br>
                    <img src="assets/img/logo_toefl.png" alt="">
                </a>

            </div>
        </div>
    </section>

    <section class="ts-block">
        <div class="container">

            <div class="ts-title text-center">
                <h2>Experiencia</h2>
            </div>

            <div class="row">

                <div class="col-md-6 mb-5">
                    <img src="team/lilianarceo/photo.jpg" class="w-100" alt="">
                </div>

                <div class="col-md-6">
                    <ul class="list list-text list-dashed">

                        <li data-animate="ts-fadeInRight">
                            <h4>Juez en RO80TIME</h4>
                            <p>
                                Juen en competencia de robótica en la categoría de seguidor de líneas
                            </p>
                        </li>

                        <li data-animate="ts-fadeInRight">
                            <h4>Miembro del club de robótica</h4>
                            <p>
                                Miembro de la primera generación del club de robótica del CECyT 9
                            </p>
                        </li>

                        <li data-animate="ts-fadeInRight" data-ts-delay=".1s">
                            <h5 class="opacity-30"><strong>2020 - Actualidad</strong></h5>
                            <h4>Liberato Software</h4>
                            <ul>
                                <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".1s">
                                    <p>Construcción y modelado de gadgets electrónicos</p>
                                </li>
                                <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay="0.2s">
                                    <p>Programación y entrenamiento de redes neuronales</p>
                                </li>
                                <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay="0.3s">
                                    <p>Diseño, análisis, pruebas y validación de software</p>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </section>

    <section id="features" class="ts-block text-white text-center text-sm-left">
        <div class="container">
            <div class="row">

                <div class="col-md-4">
                    <div class="ts-feature">
                        <img src="assets/img/icon__code.png" alt="" class="mb-5">
                        <h4>Lenguajes</h4>
                        <ul>
                            <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".1s">
                                C
                            </li>
                            </li>
                            <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".2s">
                                C++
                            </li>
                            <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".3s">
                                Python
                            </li>
                            <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".4s">
                                Matlab
                            </li>
                            <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".5s">
                                Arduino
                            </li>
                            <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".6s">
                                Ensamblador
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="ts-feature">
                        <img src="assets/img/icon__tool.png" alt="" class="mb-5">
                        <h4>Herramientas</h4>
                        <ul>
                            <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".1s">
                                Cautín
                            </li>
                            <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".2s">
                                Multímetro
                            </li>
                            <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".3s">
                                Osciloscopio 
                            </li>
                            <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".4s">
                                Encefalograma
                            </li>
                            <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".5s">
                                Fuentes de energía
                            </li>
                            <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".6s">
                                Generador de funciones 
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="ts-feature">
                        <img src="assets/img/icon__hardware.png" alt="" class="mb-5">
                        <h4>Electrónica</h4>
                        <ul>
                            <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".1s">
                                PIC
                            </li>
                            <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".2s">
                                Arduino
                            </li>
                            <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".3s">
                                Núcleos STM32
                            </li>
                            <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".4s">
                                Circuitos integrados
                            </li>
                            <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".5s">
                                Filtros analógicos y digitales 
                            </li>
                            <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".6s">
                                Componentes pasivos y activos
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

        <div class="ts-background ts-bg-black">
            <div class="ts-background-image ts-background-repeat ts-opacity__10 ts-img-into-bg">
                <img src="assets/img/bg__pattern--topo-white.png" alt="">
            </div>
        </div>
    </section>

    <section class="ts-block text-center ts-background-repeat" data-bg-image="assets/img/bg__pattern--topo.png">
        <div class="container">
            <h2>Otros Sectores de Conocimiento</h2>
            <div class="row">
                <div class="col-md-4">
                    <h5>Teoría de control tradicional</h5>
                </div>
                <div class="col-md-4">
                    <h5>Lógica difusa</h5>
                </div>
                <div class="col-md-4">
                    <h5>Cómputo cuántico</h5>
                </div>
            </div>
        </div>
    </section>

</main>


{{> footer }}