{{> head }}

<header id="ts-hero" class="ts-height--100vh ts-has-overlay text-white">

    <div class="container">

        <h1 data-animate="ts-reveal">
            <span class="wrapper">
                <span>Marco</span>
            </span>
            <span class="wrapper">
                <span data-ts-delay=".1s">Celaya</span>
            </span>
        </h1>

        <div data-animate="ts-fadeInUp" data-ts-delay=".15s">
            <h5 class="ts-opacity__60 mb-5">Full Stack Software Developer</h5>
        </div>

    </div>

    <div class="ts-background" data-bg-parallax="scroll" data-bg-parallax-speed="3">
        <div id="ts-particles" class="ts-background-image ts-parallax-element ts-z-index__1"></div>
        <div class="ts-img-into-bg ts-background-image ts-parallax-element">
            <img src="team/marcocelaya/background.jpg" alt="">
        </div>
    </div>

</header>

<!--MAIN CONTENT
================================================================================================================
================================================================================================================
-->
<main id="ts-content">


    <!--Skills
    ============================================================================================================
    -->
    <section id="my-skills" class="ts-block">
        <div class="container">

            <div class="ts-title">
                <h2>Sobre mi</h2>
            </div>

            <div class="row">

                <div class="col-md-6 mb-4">
                    <p>
                        Soy un profesional creativo, me entusiasma aventurarme en nuevos proyectos y poder aprender nuevas cosas en el camino, mi especialidad es el desarrollo de aplicaciones web y móviles, soy un amante de la tecnología.
                    </p>
                    <a href="#" class="ts-link">
                        <i class="fab fa-whatsapp"></i>   55-46-34-91-58
                    </a>
                </div>
                <!--end Paragraph-->

                <div class="col-md-6">

                    <div class="progress" data-progress-width="100%">
                        <h5 class="ts-progress-title">Gestión de proyectos</h5>
                        <figure class="ts-progress-value"></figure>
                        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>

                    <div class="progress" data-progress-width="98%">
                        <h5 class="ts-progress-title">Desarrollo Móvil</h5>
                        <figure class="ts-progress-value"></figure>
                        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>

                    <div class="progress" data-progress-width="95%">
                        <h5 class="ts-progress-title">Desarrollo Web</h5>
                        <figure class="ts-progress-value"></figure>
                        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>

                </div>
            </div>
            <!--end .row-->
        </div>
        <!--end .container-->

        <div class="ts-background">
            <div class="ts-img-into-bg ts-background-repeat">
                <img src="assets/img/bg__pattern--dot.png" alt="">
            </div>
        </div>
    </section>

    <section id="partners" class="py-3">
        <div class="container py-5">
            <div class="d-block d-md-flex justify-content-around align-items-center text-center ts-partners">

                <a href="https://www.cecyt9.ipn.mx/">Técnico en programación<br>
                    <img src="assets/img/logo_cecyt9.png" alt="">
                </a>
                <a href="https://www.escom.ipn.mx">Ing. en Sistemas Computacionales<br>
                    <img src="assets/img/logo_escom.png" alt="">
                </a>

            </div>
        </div>
    </section>

    <section class="ts-block">
        <div class="container">

            <div class="ts-title text-center">
                <h2>Experiencia</h2>
            </div>

            <div class="row">

                <div class="col-md-6 mb-5">
                    <img src="team/marcocelaya/photo.jpg" class="w-100" alt="">
                </div>

                <div class="col-md-6">
                    <ul class="list list-text list-dashed">

                        <li data-animate="ts-fadeInRight">
                            <h5 class="opacity-30"><strong>2017</strong></h5>
                            <h4>Expo Bátiz</h4>
                            <p>
                                Concursante y ganador de la ExpoBátiz por mejor software
                            </p>
                        </li>

                        <li data-animate="ts-fadeInRight" data-ts-delay=".1s">
                            <h5 class="opacity-30"><strong>2019 - Actualidad</strong></h5>
                            <h4>Liberato Software</h4>
                            <ul>
                                <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".1s">
                                    <p>Diseño de interfaces</p>
                                </li>
                                <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay="0.2s">
                                    <p>Despliegue de aplicaciones</p>
                                </li>
                                <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".3s">
                                    <p>Administración de proyectos</p>
                                </li>
                                <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".6s">
                                    <p>Marketing digital y publicidad</p>
                                </li>
                                <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".7s">
                                    <p>Diseño, análisis, pruebas y validación de software</p>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </section>

    <section id="features" class="ts-block text-white text-center text-sm-left">
        <div class="container">
            <div class="row">

                <div class="col-md-4">
                    <div class="ts-feature">
                        <img src="assets/img/icon__code.png" alt="" class="mb-5">
                        <h4>Lenguajes</h4>
                        <ul>
                            <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".1s">
                                C
                            </li>
                            <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".2s">
                                PHP
                            </li>
                            <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".3s">
                                Dart
                            </li>
                            <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".4s">
                                Java
                            </li>
                            <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".5s">
                                Python
                            </li>
                            <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".6s">
                                JS & TS
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="ts-feature">
                        <img src="assets/img/icon__data.png" alt="" class="mb-5">
                        <h4>Manejo de datos</h4>
                        <ul>
                            <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".1s">
                                SQLite
                            </li>
                            <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".2s">
                                MySQL
                            </li>
                            <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".3s">
                                Firebase
                            </li>
                            <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".4s">
                                GraphQL
                            </li>
                            <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".5s">
                                MongoDB
                            </li>
                            <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".6s">
                                PostgreSQL
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="ts-feature">
                        <img src="assets/img/icon__web.png" alt="" class="mb-5">
                        <h4>Desarrollo</h4>
                        <ul>
                            <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".1s">
                                Flutter
                            </li>
                            <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".2s">
                                Node.js
                            </li>
                            <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".3s">
                                Git(Hub)
                            </li>
                            <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".4s">
                                Angular
                            </li>
                            <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".5s">
                                Android
                            </li>
                            <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".6s">
                                Express.js
                            </li>
 
                        </ul>
                    </div>
                </div>

            </div>
        </div>

        <div class="ts-background ts-bg-black">
            <div class="ts-background-image ts-background-repeat ts-opacity__10 ts-img-into-bg">
                <img src="assets/img/bg__pattern--topo-white.png" alt="">
            </div>
        </div>
    </section>

    <section class="ts-block text-center ts-background-repeat" data-bg-image="assets/img/bg__pattern--topo.png">
        <div class="container">
            <h2>Otros Sectores de Conocimiento</h2>
            <div class="row">
                <div class="col-md-4">
                    <h5>Marketing digital</h5>
                </div>
                <div class="col-md-4">
                    <h5>Ingeniería de software</h5>
                </div>
                <div class="col-md-4">
                    <h5>Diseño gráfico y multimedia</h5>
                </div>
            </div>
        </div>
    </section>

</main>


{{> footer }}