{{> head }}

<header id="ts-hero" class="ts-height--100vh ts-has-overlay text-white">

    <div class="container">

        <h1 data-animate="ts-reveal">
            <span class="wrapper">
                <span>Pam</span>
            </span>
            <span class="wrapper">
                <span data-ts-delay=".1s">Pérez</span>
            </span>
        </h1>

        <div data-animate="ts-fadeInUp" data-ts-delay=".15s">
            <h5 class="ts-opacity__60 mb-5">Software Engineer</h5>
        </div>

    </div>

    <div class="ts-background" data-bg-parallax="scroll" data-bg-parallax-speed="3">
        <div id="ts-particles" class="ts-background-image ts-parallax-element ts-z-index__1"></div>
        <div class="ts-img-into-bg ts-background-image ts-parallax-element">
            <img src="team/pamelaperez/background.jpg" alt="">
        </div>
    </div>

</header>

<!--MAIN CONTENT
================================================================================================================
================================================================================================================
-->
<main id="ts-content">


    <!--Skills
    ============================================================================================================
    -->
    <section id="my-skills" class="ts-block">
        <div class="container">

            <div class="ts-title">
                <h2>Sobre mi</h2>
            </div>

            <div class="row">

                <div class="col-md-6 mb-4">
                    <p>
                        Soy una profesional audaz e ingeniosa, me especializo en la gestión de proyectos y en el análisis de datos para reducción de riesgos, me encanta la tecnología y el mundo que engloba, en mi tiempo libre disfruto mucho de socializar y bailar.
                    </p>
                    <a href="#" class="ts-link">
                        <i class="fab fa-whatsapp"></i>   55-17-42-80-08
                    </a>
                </div>
                <!--end Paragraph-->

                <div class="col-md-6">

                    <div class="progress" data-progress-width="100%">
                        <h5 class="ts-progress-title">Administración de proyectos</h5>
                        <figure class="ts-progress-value"></figure>
                        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>

                    <div class="progress" data-progress-width="95%">
                        <h5 class="ts-progress-title">Análisis y Diseño de Software</h5>
                        <figure class="ts-progress-value"></figure>
                        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>

                    <div class="progress" data-progress-width="90%">
                        <h5 class="ts-progress-title">Programación</h5>
                        <figure class="ts-progress-value"></figure>
                        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
            <!--end .row-->
        </div>
        <!--end .container-->

        <div class="ts-background">
            <div class="ts-img-into-bg ts-background-repeat">
                <img src="assets/img/bg__pattern--dot.png" alt="">
            </div>
        </div>
    </section>

    <section id="partners" class="py-3">
        <div class="container py-5">
            <div class="d-block d-md-flex justify-content-around align-items-center text-center ts-partners">

                <a href="https://www.escom.ipn.mx">Ing. en Sistemas Computacionales<br>
                    <img src="assets/img/logo_escom.png" alt="">
                </a>

            </div>
        </div>
    </section>

    <section class="ts-block">
        <div class="container">

            <div class="ts-title text-center">
                <h2>Experiencia</h2>
            </div>

            <div class="row">

                <div class="col-md-6 mb-5">
                    <img src="team/pamelaperez/photo.jpg" class="w-100" alt="">
                </div>

                <div class="col-md-6">
                    <ul class="list list-text list-dashed">


                        <li data-animate="ts-fadeInRight" data-ts-delay=".1s">
                            <h5 class="opacity-30"><strong>2019 - Actualidad</strong></h5>
                            <h4>Liberato Software</h4>
                            <ul>
                                <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".1s">
                                    <p>Gestión de riesgos</p>
                                </li>
                                <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".2s">
                                    <p>Administración de proyectos</p>
                                </li>
                                <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".3s">
                                    <p>Marketing, diseño y publicidad</p>
                                </li>
                                <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay="0.4s">
                                    <p>Diseño, análisis, pruebas y validación de software</p>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </section>

    <section id="features" class="ts-block text-white text-center text-sm-left">
        <div class="container">
            <div class="row">

                <div class="col-md-6">
                    <div class="ts-feature">
                        <img src="assets/img/icon__code.png" alt="" class="mb-5">
                        <h4>Lenguajes</h4>
                        <ul>
                            <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".1s">
                                C
                            </li>
                            <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".4s">
                                Java
                            </li>
                            <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".5s">
                                Python
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="ts-feature">
                        <img src="assets/img/icon__data.png" alt="" class="mb-5">
                        <h4>Manejo de datos</h4>
                        <ul>
                            <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".1s">
                                SQLite
                            </li>
                            <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".2s">
                                MySQL
                            </li>
                            <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".3s">
                                Firebase
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="ts-background ts-bg-black">
            <div class="ts-background-image ts-background-repeat ts-opacity__10 ts-img-into-bg">
                <img src="assets/img/bg__pattern--topo-white.png" alt="">
            </div>
        </div>
    </section>

    <section class="ts-block text-center ts-background-repeat" data-bg-image="assets/img/bg__pattern--topo.png">
        <div class="container">
            <h2>Otros Sectores de Conocimiento</h2>
            <div class="row">
                <div class="col-md-4">
                    <h5>Análisis de datos</h5>
                </div>
                <div class="col-md-4">
                    <h5>Ingeniería de software</h5>
                </div>
                <div class="col-md-4">
                    <h5>Manejo de equipos</h5>
                </div>
            </div>
        </div>
    </section>

</main>


{{> footer }}