{{> head }}

<header id="ts-hero" class="ts-block ts-height--75vh">

    <div class="container">
        <h1 class="ts-text-underline">Lie to App</h1>
        <h3>El poder de la verdad</h3>
    </div>

    <div class="ts-background">
        <div class="ts-background-image ts-background-repeat ts-img-into-bg">
            <img src="assets/img/bg__pattern--topo.png" alt="">
        </div>
    </div>

</header>


<main id="ts-content">

    <section id="gallery" class="push-up">
        <div class="container">
            <div class="row">

                <div class="col-md-8">

                    <div class="row">

                        <div class="col-md-6">
                            <a href="projects/lietoapp/1.jpg" class="card ts-gallery__item popup-image">
                                <div class="ts-background ts-img-into-bg">
                                    <img src="projects/lietoapp/1.jpg" alt="">
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="projects/lietoapp/2.jpg" class="card ts-gallery__item popup-image">
                                <div class="ts-background ts-img-into-bg">
                                    <img src="projects/lietoapp/2.jpg" alt="">
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="projects/lietoapp/3.jpg" class="card ts-gallery__item popup-image">
                                <div class="ts-background ts-img-into-bg">
                                    <img src="projects/lietoapp/3.jpg" alt="">
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="projects/lietoapp/4.jpg" class="card ts-gallery__item popup-image">
                                <div class="ts-background ts-img-into-bg">
                                    <img src="projects/lietoapp/4.jpg" alt="">
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="projects/lietoapp/5.jpg" class="card ts-gallery__item popup-image">
                                <div class="ts-background ts-img-into-bg">
                                    <img src="projects/lietoapp/5.jpg" alt="">
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="projects/lietoapp/6.jpg" class="card ts-gallery__item popup-image">
                                <div class="ts-background ts-img-into-bg">
                                    <img src="projects/lietoapp/6.jpg" alt="">
                                </div>
                            </a>
                        </div>

                    </div>
                </div>

                <div class="col-md-4">
                    <section class="mb-5">
                        <div class="ts-title mb-4">
                            <h2>¿Qué es?</h2>
                        </div>

                        <p>
                            Un detector de mentiras portátil y fiable
                        </p>
                        <dl class="ts-description-list">
                            <dt>¿Qué lo hace diferente?</dt>
                            <dd>Analiza de forma profunda cosas que un polígrafo tradicional ni siquiera toma en cuenta, cómo los micro movimientos oculares y la frecuencia de la señal de voz</dd>
                            <dt>¿Cómo funciona?</dt>
                            <dd>Con Inteligencia Artificial y Redes Neuronales entrenadas en el reconocimiento de múltiples patrones de comportamiento y fisiológicos que revelan cuándo una persona miente</dd>
                            <dt>Precio</dt>
                            <dd>Gratis, pero mejora notablemente su eficiencia si se compran los lentes gadget que analizan los ojos</dd>
                        </dl>
                    </section>

                    <section>
                        <div class="ts-title mb-4">
                            <h2>Posibles usos</h2>
                        </div>
                        <ul class="list-unstyled">
                            <li class="pb-3">Divertirse con los amigos</li>
                            <li class="pb-3">Determinar si ella te ama</li>
                            <li class="pb-3">Encontrar al culpable de un crímen</li>
                            <li class="pb-3">Sustituir una prueba química de drogas</li>
                            <li class="pb-3">Detectar posibles fraudes</li>
                        </ul>
                        <blockquote class="blockquote">
                            <footer class="blockquote-footer">Muchos más...</footer>
                        </blockquote>
                    </section>
                </div>

            </div>
        </div>
    </section>

    <!--Call to action
    ============================================================================================================
    -->
    <section class="py-5 text-center text-sm-left">
        <div class="container py-5 my-5">
            <div class="row ts-align__vertical">

               <div class="col-md-6 mb-3 mb-sm-0">
                    <h2>¿Te gusta lo que ves?</h2>
                    <footer class="blockquote-footer">Contáctanos para contratar</footer>
                </div>

            </div>
        </div>

        <div class="ts-background ts-background-repeat ts-img-into-bg">
            <img src="assets/img/bg__pattern--dot.png" alt="">
        </div>

    </section>

</main>

{{> lightfooter }}