{{> head }}

<header id="ts-hero" class="ts-block ts-height--75vh">

    <div class="container">
        <h1 class="ts-text-underline">PIASE</h1>
        <h3>Mejora el sistema educativo</h3>
    </div>

    <div class="ts-background">
        <div class="ts-background-image ts-background-repeat ts-img-into-bg">
            <img src="assets/img/bg__pattern--topo.png" alt="">
        </div>
    </div>

</header>


<main id="ts-content">

    <section id="gallery" class="push-up">
        <div class="container">
            <div class="row">

                <div class="col-md-8">

                    <a href="projects/piase/1.png" class="card ts-gallery__item ts-gallery__item-big popup-image">
                        <div class="ts-background ts-img-into-bg">
                            <img src="projects/piase/1.png" alt="">
                        </div>
                    </a>

                    <div class="row">

                        <div class="col-md-6">
                            <a href="projects/piase/2.png" class="card ts-gallery__item popup-image">
                                <div class="ts-background ts-img-into-bg">
                                    <img src="projects/piase/2.png" alt="">
                                </div>
                            </a>
                        </div>
                        <!--end gallery item-->

                        <div class="col-md-6">
                            <a href="projects/piase/3.png" class="card ts-gallery__item ts-half popup-image">
                                <div class="ts-background ts-img-into-bg">
                                    <img src="projects/piase/3.png" alt="">
                                </div>
                            </a>
                            <a href="projects/piase/4.png" class="card ts-gallery__item ts-half popup-image">
                                <div class="ts-background ts-img-into-bg">
                                    <img src="projects/piase/4.png" alt="">
                                </div>
                            </a>
                        </div>
                        <!--end gallery item-->

                        <div class="col-md-6">
                            <a href="projects/piase/5.png" class="card ts-gallery__item popup-image">
                                <div class="ts-background ts-img-into-bg">
                                    <img src="projects/piase/5.png" alt="">
                                </div>
                            </a>
                        </div>
                        <!--end gallery item-->

                        <div class="col-md-6">
                            <a href="projects/piase/6.png" class="card ts-gallery__item popup-image">
                                <div class="ts-background ts-img-into-bg">
                                    <img src="projects/piase/6.png" alt="">
                                </div>
                            </a>
                        </div>
                        <!--end gallery item-->

                    </div>
                </div>

                <div class="col-md-4">
                    <section class="mb-5">
                        <div class="ts-title mb-4">
                            <h2>¿Qué es?</h2>
                        </div>

                        <p>
                            Por sus siglas: Plataforma Integral de Análisis y Seguimiento Escolar, el sistema informático más avanzado y completo para escuelas.
                        </p>
                        <dl class="ts-description-list">
                            <dt>¿Para quién es?</dt>
                            <dd>Para cualquier escuela primaria o secundaria que quiera optimizar sus procesos</dd>
                            <dt>¿Cómo funciona?</dt>
                            <dd>Cada usuario tiene funciones propias y estrictos niveles de acceso, de acuerdo a su rol en la comunidad educativa, todos utilizan el sistema en sus tareas cotidianas</dd>
                            <dt>Precio</dt>
                            <dd>Versión básica grátis, versión completa dependiendo los usuarios</dd>
                            <dt>Sitio Web</dt>
                            <dd><a href="https://piase.mx" class="ts-underline">www.piase.mx</a></dd>
                            <dt>Comercial</dt>
                            <dd><a href="" class="ts-underline">Video en YouTube</a></dd>
                        </dl>
                    </section>

                    <section>
                        <div class="ts-title mb-4">
                            <h2>Funcionalidades</h2>
                        </div>
                        <ul class="list-unstyled">
                            <li class="pb-3">Calificar online</li>
                            <li class="pb-3">Pasar lista con escáner</li>
                            <li class="pb-3">Generar gráficas y estadísticas</li>
                            <li class="pb-3">Generar documentos de Excel con calificaciones, faltas, incidencias.</li>
                            <li class="pb-3">Mandar mensajes a la comunidad</li>
                            <li class="pb-3">Denunciar bullying y otros delitos</li>
                            <li class="pb-3">Mantener informados a los padres de familia sobre sus hijos</li>
                            <li class="pb-3">Generar expedientes virtuales y comprobantes de inscripción en PDF</li>
                            <li class="pb-3">Foro Educativo para tareas, trabajos, dudas, debates, etc</li>
                        </ul>
                        <blockquote class="blockquote">
                            <footer class="blockquote-footer">Muchas más...</footer>
                        </blockquote>
                    </section>
                </div>

            </div>
        </div>
    </section>

    <!--Call to action
    ============================================================================================================
    -->
    <section class="py-5 text-center text-sm-left">
        <div class="container py-5 my-5">
            <div class="row ts-align__vertical">

               <div class="col-md-6 mb-3 mb-sm-0">
                    <h2>¿Te gusta lo que ves?</h2>
                    <footer class="blockquote-footer">Contáctanos para contratar</footer>
                </div>

                <div class="col-md-6">
                    <a href="https://www.piase.mx" class="btn btn-outline-dark float-sm-right">PIASE</a>
                </div>

            </div>
        </div>

        <div class="ts-background ts-background-repeat ts-img-into-bg">
            <img src="assets/img/bg__pattern--dot.png" alt="">
        </div>

    </section>

</main>

{{> lightfooter }}