{{> head }}


<header id="ts-hero" class="ts-height--100vh text-white">

    <div class="container">
        <div class="row ts-align__vertical">
 
            <div class="col-sm-6 col-md-7">
                <h1 data-animate="ts-reveal">
                    <span class="wrapper">   
                        <span>Innovación</span>
                    </span>
                </h1>

                <div data-animate="ts-fadeInUp" data-ts-delay=".1s">
                    <p>
                        En Liberato Software nos esforzamos por sacar al mercado sistemas innovadores y de alta calidad
                    </p>
                </div>

                <div class="ts-group d-none d-md-block">
                    <a href="contact" class="btn btn-outline-light my-2" data-animate="ts-fadeInUp" data-ts-delay=".2s">Contáctanos</a>
                </div>
            </div>

            <div class="col-sm-6 col-md-5">
                <div class="text-center d-none d-sm-block" data-animate="ts-fadeInRight" data-ts-delay=".25s">
                    <img src="assets/img/img__mobile--01.png" class="ts-img-fluid py-5" alt="">
                </div>
            </div>

        </div>
    </div>

    <div class="ts-background ts-bg-black">
        <div class="ts-img-into-bg ts-background-image ts-parallax-element">
            <img src="assets/img/bg__gradient--dark.jpg" alt="">
        </div>
    </div>

</header>

<!--MAIN CONTENT
================================================================================================================
================================================================================================================
-->
<main id="ts-content">

    <!--Features
    ============================================================================================================
    -->
    <section id="features" class="ts-block text-white text-center text-sm-left" data-bg-color="#14141c">
        <div class="container">
            <div class="row">

                <div class="col-md-4">
                    <div class="ts-feature">
                        <img src="assets/img/icon__smartphone.png" alt="" class="mb-5">
                        <h4>Apps móviles</h4>
                        <p>Multiplataforma, veloces y prácticas, la mejor solución en tu bolsillo</p>
                    </div>
                </div>
                <!--end Feature-->

                <div class="col-md-4">
                    <div class="ts-feature">
                        <img src="assets/img/icon__web.png" alt="" class="mb-5">
                        <h4>Apps web</h4>
                        <p>Responsivas, progresivas y fiables, la mejor solución para el internet</p>
                    </div>
                </div>
                <!--end Feature-->

                <div class="col-md-4">
                    <div class="ts-feature">
                        <img src="assets/img/icon__computer.png" alt="" class="mb-5">
                        <h4>Apps desktop</h4>
                        <p>Amigables y fáciles de utilizar, la mejor solución para tu computadora</p>
                    </div>
                </div>
                <!--end Feature-->

            </div>
        </div>
    </section>

    <!--Our Experience
    ============================================================================================================
    -->
    <section class="ts-block text-white pb-0" data-bg-color="#191a21">
        <div class="container">

            <div class="ts-title text-center">
                <h2>Características de nuestros sistemas</h2>
            </div>

            <div class="row">

                <div class="col-md-4 mb-5">
                    <img src="assets/img/img__mobile--02.png" class="mw-100" alt="">
                </div>

                <div class="col-md-6">
                    <ul class="list list-text list-dashed">

                        <li data-animate="ts-fadeInRight">
                            <h4>Altamente eficientes</h4>
                            <p>
                                Utilizamos buenas prácticas de programación, patrones de diseño y una sólida arquitectura para garantizar la máxima eficiencia en cada uno de nuestros sistemas
                            </p>
                        </li>
                        <!--end Experience block-->

                        <li data-animate="ts-fadeInRight" data-ts-delay=".1s">
                            <h4>Máxima seguridad y confiablidad</h4>
                            <p>
                                Nuestros sistemas están desarrollados con altos estándares de seguridad y alojados en servidores configurados al detalle para asegurar un manejo seguro y confiable de la información.
                            </p>
                        </li>
                        <!--end Experience block-->

                        <li data-animate="ts-fadeInRight" data-ts-delay=".2s">
                            <h4>Innovadores y Conscientes</h4>
                            <p>
                                Nuestras soluciones se hacen a la medida de los problemas actuales y pensando en mejorar la vida de nuestros usuarios, por eso nos esforzamos en oír sus necesidades y problemas.
                            </p>
                        </li>
                        <!--end Experience block-->

                    </ul>
                </div>

            </div>
        </div>
    </section>

    <!--Blockquote
    ============================================================================================================
    -->
    <section id="blockquote" class="ts-block">
        <div class="container">

            <blockquote class="blockquote mb-5">
                <h2>Conoce a nuestro equipo</h2>
                <footer class="blockquote-footer">Nos gustaría colaborar contigo</footer>
            </blockquote>

            <a href="team" class="ts-link ts-underline mb-5 m-sm-0 d-inline-block">Más sobre nosotros</a>

        </div>
    </section>


</main>


{{> footer }}
