{{> head }}

<header id="ts-hero" class="ts-height--100vh ts-has-overlay text-white">

    <div class="container">

        <h1 data-animate="ts-reveal">
            <span class="wrapper">
                <span>Liberato</span>
            </span>
            <br>
            <span class="wrapper">
                <span data-ts-delay=".05s">Software</span>
            </span>
        </h1>

        <h4 class="mb-0" data-animate="ts-fadeInUp" data-ts-delay=".1s">Tecnología que lo cambia todo</h4>

    </div>

    <div class="ts-background" data-bg-parallax="scroll" data-bg-parallax-speed="3">
        <div id="ts-particles" class="ts-background-image ts-parallax-element ts-z-index__1"></div>
        <div class="ts-img-into-bg ts-background-image ts-parallax-element">
            <img src="assets/img/bg-office.jpg" alt="">
        </div>
    </div>

</header>


<!--MAIN CONTENT-->
<main id="ts-content">

    <section id="blockquote" class="ts-block">
        <div class="container">

            <blockquote class="blockquote">
                <h2>Conoce algunos de nuestros proyectos y atrévete a revolucionar el software</h2>
                <footer class="blockquote-footer">Para más información haz click sobre algún proyecto</footer>
            </blockquote>

        </div>
    </section>

    <section id="works">
        <div class="container-fluid px-0">

            <div class="row no-gutters ts-gallery">

                <div class="col-md-6 col-lg-6">
                    <a href="projects/piase" class="card ts-gallery__item ts-floated-description" data-animate="ts-fadeInUp">
                        <div class="ts-gallery__item-description">
                            <h5>Mejora el sistema educativo</h5>
                            <h3>PIASE</h3>
                        </div>
                        <div class="ts-background ts-img-into-bg">
                            <img src="assets/img/img__work__thumb--01.jpg" alt="">
                        </div>
                    </a>
                </div>

                <div class="col-md-6 col-lg-6">
                    <a href="projects/lietoapp" class="card ts-gallery__item ts-floated-description" data-animate="ts-fadeInUp" data-delay=".1s">
                        <div class="ts-gallery__item-description">
                            <h5>El poder de la verdad</h5>
                            <h3>Lie to App</h3>
                        </div>
                        <div class="ts-background ts-img-into-bg">
                            <img src="assets/img/img__work__thumb--02.jpg" alt="">
                        </div>
                    </a>
                </div>

                <div class="col-md-6 col-lg-6">
                    <a href="projects/lienzourbano" class="card ts-gallery__item ts-floated-description" data-animate="ts-fadeInUp" data-delay=".15s">
                        <div class="ts-gallery__item-description">
                            <h5>Transforma tu ciudad</h5>
                            <h3>Lienzo Urbano</h3>
                        </div>
                        <div class="ts-background ts-img-into-bg">
                            <img src="assets/img/img__work__thumb--03.jpg" alt="">
                        </div>
                    </a>
                </div>

                <div class="col-md-6 col-lg-6">
                    <a href="projects/ilaw" class="card ts-gallery__item ts-floated-description" data-animate="ts-fadeInUp" data-delay=".2s">
                        <div class="ts-gallery__item-description">
                            <h5>Un abogado en tu bolsillo</h5>
                            <h3>iLaw</h3>
                        </div>
                        <div class="ts-background ts-img-into-bg">
                            <img src="assets/img/img__work__thumb--04.jpg" alt="">
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!--Features-->
    <section id="features" class="ts-block text-white text-center text-sm-left">
        <div class="container">
            <div class="row">

                <div class="col-md-4">
                    <div class="ts-feature">
                        <img src="assets/img/icon__dashboard.png" alt="" class="mb-5">
                        <h4>A la medida del cambio</h4>
                        <p>Utilizamos siempre las tecnologías más nuevas e innovadoras</p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="ts-feature">
                        <img src="assets/img/icon__user.png" alt="" class="mb-5">
                        <h4>Conocemos a las personas</h4>
                        <p>Somos muy atentos a las necesidades de la sociedad y nuestros usuarios</p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="ts-feature">
                        <img src="assets/img/icon__envelope.png" alt="" class="mb-5">
                        <h4>Comunicación Efectiva</h4>
                        <p>Nuestros propios usuarios mejoran los proyectos con su retroalimentación</p>
                    </div>
                </div>

            </div>
        </div>

        <div class="ts-background ts-bg-black">
            <div class="ts-background-image ts-background-repeat ts-opacity__10 ts-img-into-bg">
                <img src="assets/img/bg__pattern--topo-white.png" alt="">
            </div>
        </div>
    </section>

    <!--Promo numbers-->
    <section class="ts-block ts-background-repeat" data-bg-image="assets/img/bg__pattern--dot.png">
        <div class="container ts-promo-numbers">
            <div class="row">

                <div class="col-sm-6 col-md-12">
                    <div class="ts-promo-number text-center">
                        <figure class="odometer" data-odometer-final="10,000">0</figure>
                        <h5>Más de 10,000 usuarios en todo México</h5>
                    </div>
                </div>

            </div>
        </div>
    </section>

</main>

{{> footer }}