{{> head }}

<main id="ts-content">

    <section id="the-team" class="ts-block">

        <div class="container">
            <div class="row">

                <div class="col-md-4">
                    <div class="ts-title">
                        <h2>Equipo directivo</h2>
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="row">

                        <div class="col-md-6">
                            <div class="ts-member">
                                <div class="ts-image">
                                    <div class="ts-img-into-bg">
                                        <img src="team/fernandoflores/preview.jpg" alt="">
                                    </div>
                                </div>
                                <h5><a href="fernandoflores" class="ts-underline ts-link clearfix">Fernando Flores</a></h5>
                                <h6>CEO</h6>
                                <div class="ts-social">
                                    <a href="https://www.facebook.com/profile.php?id=100005342505570" class="ts-underline ts-link clearfix">Facebook</a>
                                </div>
                            </div>
                        </div>
                        <!--end Member-->

                        <div class="col-md-6">
                            <div class="ts-member">
                                <div class="ts-image">
                                    <div class="ts-img-into-bg">
                                        <img src="team/marcocelaya/preview.jpg" alt="">
                                    </div>
                                </div>
                                <h5><a href="marcocelaya" class="ts-underline ts-link clearfix">Marco Celaya</a></h5>
                                <h6>CTO</h6>
                                <div class="ts-social">
                                    <a href="https://www.facebook.com/marco.a.ordaz.3" class="ts-underline ts-link clearfix">Facebook</a>
                                </div>
                            </div>
                        </div>
                        <!--end Member-->
                        
                        {{!-- <div class="col-md-6">
                            <div class="ts-member">
                                <div class="ts-image">
                                    <div class="ts-img-into-bg">
                                        <img src="team/nadialopez/preview.jpg" alt="">
                                    </div>
                                </div>
                                <h5><a href="nadialopez" class="ts-underline ts-link clearfix">Nadia López</a></h5>
                                <h6>CDO</h6>
                                <div class="ts-social">
                                    <a href="https://www.facebook.com/nadia.aguilar.3386585" class="ts-underline ts-link clearfix">Facebook</a>
                                </div>
                            </div>
                        </div> --}}
                        <!--end Member-->

                        <div class="col-md-6">
                            <div class="ts-member">
                                <div class="ts-image">
                                    <div class="ts-img-into-bg">
                                        <img src="team/pamelaperez/preview.jpg" alt="">
                                    </div>
                                </div>
                                <h5><a href="pamelaperez" class="ts-underline ts-link clearfix">Pamela Pérez</a></h5>
                                <h6>COO</h6>
                                <div class="ts-social">
                                    <a href="https://www.facebook.com/pammlizeth" class="ts-underline ts-link clearfix">Facebook</a>
                                </div>
                            </div>
                        </div>
                        <!--end Member-->
                        
                    </div>
                </div>

            </div>
        </div>

        <div class="ts-background ts-img-into-bg ts-background-repeat">
            <img src="assets/img/bg__pattern--dot.png" alt="">
        </div>

    </section>

    <!--Our Story
    ============================================================================================================
    -->
    <section id="story" class="ts-block">
        <div class="container">
            <div class="row">

                <div class="col-md-4">
                    <div class="ts-title">
                        <h2>Nuestra Historia...</h2>
                    </div>
                </div>

                <div class="col-md-8">
                    <p>
                        Todos teníamos en común el deseo de mejorar al mundo a través de la tecnología, nos juntamos y empezamos a desarrollar proyectos altruistas y cada vez de mayor impacto, actualmente estamos en una búsqueda constante de nuevas metas que alcanzar, nos encanta la tecnología y queremos compartirla con el mundo, esa es nuestra principal motivación y por eso somos lo que somos.
                    </p>
                </div>

            </div>
        </div>
    </section>

    <!--Call to action
    ============================================================================================================
    -->
    <section class="py-5 text-center">
        <div class="container py-5 my-5">

            <h2 class="mb-5">Trabajemos juntos!</h2>
            <a href="contact" class="btn btn-dark">Contáctanos</a>

        </div>
    </section>

</main>

{{> footer }}